<?xml version="1.0"?>
<!-- /**
 * Copyright © PinBlooms Technology Pvt. Ltd. All rights reserved.
 * See COPYING.txt for license details.
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="pinblooms" translate="label" sortOrder="100">
            <label>PinBlooms</label>
        </tab>
        <section id="pinblooms_google_snippet" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Google Rich Snippets</label>
            <tab>pinblooms</tab>
            <resource>PinBlooms_GoogleRichSnippets::GoogleSnippetSettings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="brand" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Brand</label>
                    <source_model>PinBlooms\GoogleRichSnippets\Model\Config\Source\Brand</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="sku" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SKU</label>
                    <source_model>PinBlooms\GoogleRichSnippets\Model\Config\Source\Brand</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="description" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Description</label>
                    <source_model>PinBlooms\GoogleRichSnippets\Model\Config\Source\Description</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="price" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Price</label>
                    <source_model>PinBlooms\GoogleRichSnippets\Model\Config\Source\Price</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="enable_breadcrumb" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Catalog breadcrumb</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="enable_cms_breadcrumb" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable CMS breadcrumb</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="enable_product_breadcrumb" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Product breadcrumb</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>